# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html
#
# alphabetical order
#
김도형 - Keedi Kim     <keedi@cpan.org> <keedi@cpan.org>
김도형 - Keedi Kim     <keedi@cpan.org> <keedi.k@gmail.com>
김도형 - Keedi Kim     <keedi@cpan.org> <keedi@perl.kr>
김도형 - Keedi Kim     <keedi@cpan.org> <keedi.kim@silex.kr>
김도형 - Keedi Kim     <keedi@cpan.org> Keedi Kim <keedi@cpan.org>
김도형 - Keedi Kim     <keedi@cpan.org> Keedi Kim <keedi.k@gmail.com>
김도형 - Keedi Kim     <keedi@cpan.org> Keedi Kim <keedi@perl.kr>
김도형 - Keedi Kim     <keedi@cpan.org> Keedi Kim <keedi.kim@silex.kr>
유용빈 - Yongbin Yu    <yongbin.yu@silex.kr> <yongbin@cpan.org>
유용빈 - Yongbin Yu    <yongbin.yu@silex.kr> <supermania@gmail.com>
유용빈 - Yongbin Yu    <yongbin.yu@silex.kr> <yongbin.yu@gmail.com>
유용빈 - Yongbin Yu    <yongbin.yu@silex.kr> <yongbin@perl.kr>
유용빈 - Yongbin Yu    <yongbin.yu@silex.kr> Yongbin Yu <yongbin@cpan.org>
유용빈 - Yongbin Yu    <yongbin.yu@silex.kr> Yongbin Yu <supermania@gmail.com>
유용빈 - Yongbin Yu    <yongbin.yu@silex.kr> Yongbin Yu <yongbin.yu@gmail.com>
유용빈 - Yongbin Yu    <yongbin.yu@silex.kr> Yongbin Yu <yongbin@perl.kr>
조한영 - Han Cho       <hanyoung.cho@silex.kr> <rumidier@gmail.com>
조한영 - Han Cho       <hanyoung.cho@silex.kr> Han Cho <rumidier@gmail.com>
홍형석 - Hyungsuk Hong <aanoaa@cpan.org> <aanoaa@cpan.org>
홍형석 - Hyungsuk Hong <aanoaa@cpan.org> <aanoaa@gmail.com>
홍형석 - Hyungsuk Hong <aanoaa@cpan.org> <hshong@perl.kr>
홍형석 - Hyungsuk Hong <aanoaa@cpan.org> <hyungsuk.hong@silex.kr>
홍형석 - Hyungsuk Hong <aanoaa@cpan.org> Hyungsuk Hong <aanoaa@cpan.org>
홍형석 - Hyungsuk Hong <aanoaa@cpan.org> Hyungsuk Hong <aanoaa@gmail.com>
홍형석 - Hyungsuk Hong <aanoaa@cpan.org> Hyungsuk Hong <hshong@perl.kr>
홍형석 - Hyungsuk Hong <aanoaa@cpan.org> Hyungsuk Hong <hyungsuk.hong@silex.kr>
